.section-container{
    display: flex;
    margin-bottom: 50px;
}
.stay-foc-mission-border{
    border-image: linear-gradient(red blue);
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.stay-foc{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    border-right: solid red;
}
.head-color{
    color: crimson;
    font-family: fantasy;
}
.button{
    background-image: linear-gradient(purple,blue) ;
    text-decoration: none;
    padding: 7px 35px;
    border-radius: 9px;
    text-decoration-color: aliceblue;
}
.button-color{
    color: lavender;
}
.two-third-width{
    width: 30%;
    padding-left: 5%;
}
.dev-without-lim{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: left;
}
.my-mission-cont{
    display: flex;
}
.mission{
    background-color: rgb(199, 199, 214);
    padding:2%;
    margin-left: 4%;
    margin-right: 4%;
    box-shadow: 5xp 5px 20px yellowgreen;
    border-radius: 5px;
}
.vission{
    background-color: rgb(236, 206, 240);
    padding:2%;
    margin-left: 4%;
    margin-right: 4%;
    box-shadow: 5xp 5px 20px rgb(189, 231, 105);
    border-radius: 5px;
}
.goal{
    background-color: rgb(207, 196, 92);
    padding:2%;
    margin-left: 4%;
    margin-right: 4%;
    box-shadow: 5xp 5px 20px yellowgreen;
    border-radius: 5px;
}
.head-span-color{
    color: rgb(207, 146, 33);
}
.span-color{
    color: yellowgreen;
}
.banner{
background-repeat: no-repeat;
}
.center-align{
    text-align: center;
}
.footer-section{
    text-align: center;
 background-color: rgb(63, 62, 62);
}
.footer-head-color{
    color: rgb(241, 207, 234);
    font-family: cursive;
    font-size: 70%;
}
.footer-year-color{
    color: rgb(32, 142, 233);
    font-family: cursive;
    font-size: 70%;
}
.footer-foot-color{
    color: rgb(218, 199, 213);
    font-size: 70%;
}